*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:  5rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* exersice 1  */

.button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    transition: 0.5s;
    margin-bottom: 2rem;
}

.button:hover {
    background-color: rgb(244, 59, 59);
    padding: 1.5rem 2rem; 
    box-shadow: 0px 4px 4px 4px rgba(140, 139, 139, 0.346);
    font-size: 1.5rem;
    transition: 1s ease-in-out;  
    cursor: pointer; 
}

/* exersice 2  */

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.menu__button {
    background-color: rgb(236, 65, 65);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.menu__button:hover {
    cursor: pointer;
}

.menu__list {
    display: flex;
    flex-direction: column;
}

